@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'MedievalSharp', sans-serif;
    background-color: #c6e2e9;
    color: #000814;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
  font-size: 5em;
  padding: 30px 0px;
  margin: 20px auto;
  text-shadow: #dab894 2px 2px;
}

.cow-img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid gray;
}

.dev-credits h3 {
  margin-top: 50px;
}

.dev-credits p {
  font-size: 1.6em;
  padding: 10px 0px;
}

.repository p {
  margin: 60px auto;
  font-size: 1.8em;
}

.start-button a {
  margin-bottom: 50px;
  font-size: 1.3em;
  background-color: #dab894;
}