@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'MedievalSharp', cursive;;
    background-color: #c6e2e9;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
  font-size: 5em;
  padding: 30px 0px;
  margin: 20px auto;
}

.dev-credits h3 {
  margin-top: 50px;
}

.dev-credits p {
  font-size: 1.6em;
  padding: 10px 0px;
}

.repository p {
  margin: 60px auto;
  font-size: 1.8em;
}